<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Table</title>
    <link rel="stylesheet" href="index.css">
</head>

<body onload="Submit()">
    <button id="newRecordBtn" class="newRecordBtn"><a href="./addData.html">New Record</a></button>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>
    <script src="../service/index.js">

    </script>
</body>

</html>